@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
}